<section id="saalt-loyalty-atf">
    <div id="atf-content">
        <div id="saalt-title-atf">
       
          
          <h1>Period Perks</h1>
            <p>Your period deserves perks too. Sign up to earn reward points every time you shop.</p>
        </div>
        {% unless customer %}
        <article id="saalt-atf-buttons">  
            <a class="sec-btn" href="https://saalt.com/account/login?">SIGN IN</a>
            <a class="prim-btn"href="https://saalt.com/account/register">SIGN UP</a>

        {% endunless %}
        </article>
    </div>
</section>
<div id="atf-content-mobile">
    <div id="saalt-title-atf">
       
      
      <h1>Period Perks</h1>
        <p>Your period deserves perks too. Sign up to earn reward points every time you shop.</p>
    </div>
    {% unless customer %}
    <article id="saalt-atf-buttons">
        <article id="saalt-atf-buttons">
            <a class="sec-btn" href="https://saalt.com/account/login?">   SIGN IN</a>
            <a class="prim-btn"href="https://saalt.com/account/register">SIGN UP</a>
    {% endunless %}
    </article>
</div>