<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/1ob5zLVl0tGNVDAihObqpQ" async></script>
{% section 'cart-template' %}
{% section 'recently-viewed-products' %}
<div class="yotpo-widget-instance" data-yotpo-instance-id="12419"></div>